In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 10
x = x + 1
print(x)

11

In [3]:
print(x * 10)

110

In [4]:
print("abc")

abc

Initial Activities and components of ipynb
------------------------------------------
- rename : 
- Cells of a notebook
	- a place where we can write everything
- States of a cell	
	- Edit state : Green
		- only one cell can be in Edit state
		- any number of lines can be written
	- Select State : Blue
		- multiple cells can be selected
- Executing a cell : 
	1. click on Run
	2. ctrl + Enter : run the cell and stay there
	3. shift + Enter : run the cell and go to the next cell
			   if there is no cell, it creates a new one
	4. Alt + Enter : run the cell and create a new one next to it
			 and go to that cell.



- Modes of a cell
	- code - python codes are written processed
	- Raw NBConvert : Raw notebook/raw text/plain text
		- basically converting a cell into a notepad
	- Markdown : notepad with stylized text and multimedia
		elements

<img src = 'https://www.analytixlabs.co.in/assets/front/img/logo.png'>

## This is heading h2

We are about to write some text related to **Data Science**.

We'll be having _**9 classes on**_ foundation module.

Not ~~PyCharm~~ but we'll use _Jupyter Notebook_

We'll have following phases
- Python foundation
- Data Importing
- Data Manipulation
    - Structure
    - Contents
    - Visualization
        1. matplotlib
        2. pandas plots
        3. seaborn
- Inferential Stats

<a href = "https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed"> Markdown guide by IBM </a>

In [5]:
# This is a comment line 1
# line 2
# line 3
# all the lines of commnets begin with #
x = 10
y = "abc"
address = '''
Company
Line 1
Line 2
City
State
'''

In [6]:
'''
This is a comment line 1
line 2
line 3
all the lines of commnets begin with #
'''

'\nThis is a comment line 1\nline 2\nline 3\nall the lines of commnets begin with #\n'

In [7]:
# Numbers
n1 = 9
n2 = -19
n3 = 36434657245738568753857935745753886475
n4 = 3445.235
n5 = 3563424583568471374735682475825.35856935845858
n6 = 6 + 8j

In [8]:
type(n1)
type(n2)

int

In [9]:
type(n3) # Py 2 : long

int

In [10]:
type(n4)

float

In [11]:
type(n5)

float

In [12]:
type(n6)

complex

In [13]:
# Strings/Text
s1 = 'abcdef'
s2 = "This is Python class"
s3 = '123.45'
s4 = 'abc123'
s6 = """
AnalytixLabs
14th Main
HSR Layout
Bengaluru - 102
KA
"""
s7 = '''
AnalytixLabs
14th Main
HSR Layout
Bengaluru - 102
KA
'''

In [14]:
type(s4)

str

In [15]:
# Boolean
# True and False
5 > 2

True

In [16]:
l1 = 5 > 2
l1

True

In [17]:
type(l1)

bool

In [18]:
n1

9

In [19]:
str(n1)

'9'

In [20]:
type(n1)

int

In [21]:
n1 = str(n1)

In [22]:
type(n1)

str

In [23]:
n4

3445.235

In [24]:
str(n4)

'3445.235'

In [25]:
int(n4)

3445

In [26]:
bool(n4)

True

In [27]:
bool(n2)

True

In [28]:
bool(0)

False

In [29]:
s1

'abcdef'

In [30]:
float(s1)

ValueError: could not convert string to float: 'abcdef'

In [31]:
int(s1)

ValueError: invalid literal for int() with base 10: 'abcdef'

In [32]:
bool(s1)

True

In [33]:
s3

'123.45'

In [34]:
float(s3)

123.45

In [35]:
int(s3)

ValueError: invalid literal for int() with base 10: '123.45'

In [36]:
s5 = '456'

In [37]:
float(s5)

456.0

In [38]:
int(s5)

456

In [39]:
s4

'abc123'

In [40]:
float(s4)

ValueError: could not convert string to float: 'abc123'

In [41]:
int(s4)

ValueError: invalid literal for int() with base 10: 'abc123'

In [43]:
type(x)

int

In [44]:
print(dir(x))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [46]:
print(dir(s1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [48]:
n6

(6+8j)

In [47]:
print(dir(n6))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [51]:
n6.real

6.0

In [52]:
n6.imag

8.0

In [54]:
s1.upper()

'ABCDEF'

In [55]:
?s1.upper

In [56]:
?n6.real

In [59]:
n6.real()

6.0

In [61]:
s1.upper

In [62]:
s1.lower()

# lower() function converts a string to lower case. Doesn't have any
# additional argumenst and return a copy of the string

'abcdef'

	---------------------------------------------------------
	Task
	---------------------------------------------------------
	1. Print the attributes of an str object.
	2. Explore each of these attributes..
		2.1 Access them using . operator
		2.2 Write a brief description of the function's
	   	    usage and output
	---------------------------------------------------------

In [63]:
?n6.__abs__

In [68]:
# 1. Tuple

# 1.1. Creating Tuples
# We use () and pass elements separated by a ,
x = 10
t1 = 10,34,56,54,78,77,24,59,8,2,5,88,20,29,100,92,81
t1 = (10,34,56,54,78,77,24,59,8,2,5,88,20,29,100,92,81)

type(t1)

tuple

In [71]:
t2 = (2,3,2,2,2,2,2,2,2,2,2,"abc","eee",9+6j,2723.42)
t2

(2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 'abc', 'eee', (9+6j), 2723.42)

In [73]:
# 1.2 : Accessing elements from a tuple
# we access elements
t1[3]

54

In [75]:
# sequantial access of elements  : 
# Extract 56, 54, 78, 77, 24, 59, 8
# indexes from 2,3,4,5,6,7,8
# use the : operator to seq access the elements.
# : will generate the seq
#               start : end
#               from start till end-1
#              "upper bound is excluded"
t1[2:8]

(56, 54, 78, 77, 24, 59)

In [77]:
t1[2:9]

(56, 54, 78, 77, 24, 59, 8)

In [78]:
t1

(10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81)

In [79]:
t1[4:]

(78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81)

In [80]:
# "upper bound is excluded"
t1[:11]

(10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5)

In [81]:
t1[0:11:2]
# we can add incrementation/decrement by adding one more :
# 0,2,4,6,8,10

(10, 56, 78, 24, 8, 5)

In [82]:
t1[0:10:2]
# 0,2,4,6,8

(10, 56, 78, 24, 8)

In [83]:
t1[4::2]

(78, 24, 8, 5, 20, 100, 81)

In [84]:
t1[4]

78

In [85]:
t1[-4]

29

In [86]:
t1

(10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81)

In [98]:
t1[11:7:-1]

(88, 5, 2, 8)

In [ ]:
# Extract multiple elements randomly
# 0,2,9,11,12
# Not possible by only []
# We have to use loops!

In [ ]:
# 1.3 : Applying conditions
# without loops and conditionals

In [99]:
# 2 Lists
# 2.1 Creating Lists
t1 = (10,34,56,54,78,77,24,59,8,2,5,88,20,29,100,92,81)
# to create list, we use []
l1 = [10,34,56,54,78,77,24,59,8,2,5,88,20,29,100,92,81]
type(l1)

list

In [100]:
# 2.2 Access elements
# We access elements we use [ ] and pass the index
# same as tuple
l1[4]

78

In [101]:
# sequantial access of elements  : 
# Extract 56, 54, 78, 77, 24, 59, 8
# indexes from 2,3,4,5,6,7,8
# use the : operator to seq access the elements.
# : will generate the seq
#               start : end
#               from start till end-1
#              "upper bound is excluded"
l1[2:8]

[56, 54, 78, 77, 24, 59]

In [102]:
l1[2:9]

[56, 54, 78, 77, 24, 59, 8]

In [103]:
l1

[10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81]

In [104]:
l1[4:]

[78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81]

In [105]:
# "upper bound is excluded"
l1[:11]

[10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5]

In [106]:
l1[0:11:2]
# we can add incrementation/decrement by adding one more :
# 0,2,4,6,8,10

[10, 56, 78, 24, 8, 5]

In [107]:
l1[0:10:2]
# 0,2,4,6,8

[10, 56, 78, 24, 8]

In [108]:
l1[4::2]

[78, 24, 8, 5, 20, 100, 81]

In [109]:
l1[4]

78

In [110]:
l1[-4]

29

In [111]:
l1

[10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81]

In [112]:
l1[11:7:-1]

[88, 5, 2, 8]

In [113]:
# Extract multiple elements randomly
# 0,2,9,11,12
# Not possible by only []
# We have to use loops!

In [ ]:
# 2.3 : Applying conditions
# Not possible without loops and conditionals

In [114]:
t1

(10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81)

In [115]:
l1

[10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81]

In [122]:
t1[3] = 333

TypeError: 'tuple' object does not support item assignment

In [120]:
l1[3] = 333

In [121]:
l1

[10, 34, 56, 333, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81]

In [123]:
x = 10

In [124]:
type(x)

int

In [125]:
id(x)

1562930528

In [126]:
x = x + 10

In [127]:
x

20

In [128]:
id(x)

1562930848

In [129]:
# This feature where any modification will change the id of a variable is 
# called immutability
# int, float, str, complex, bool, tuple : all of these are immutable

In [131]:
x = -10
if x > 0:
    print("pos")
else:
    print("neg")
print("we are done")

neg
we are done

In [133]:
# find whether x is pos neg or zero

if x>0:
    print("pos")
else:
    if x<0:
        print("neg")
    else:
        print("zero")

neg

In [134]:
# find whether x is pos neg or zero
if x>0:
    print("pos")
elif x<0:
    print("neg")
else:
    print("x is zero")

neg

In [137]:
sales = 5000
if (sales < 300):
    print("bad performance")
elif sales >= 300 and sales < 1000:
    print("avg")
elif sales >= 1000 and sales < 3000:
    print("good")
elif sales >= 3000:
    print("excellent")

excellent

In [136]:
# ternary if or statement if

"pos" if x > 0 else "neg"

'pos'

In [142]:
print("zero" if x == 0 else "pos" if x > 0 else "neg")

neg

In [ ]:
# Iterative statements in python
# 1. Condition based
#            while()
# 2. 1d array based loop
#           for

In [146]:
x = 1
while(x <= 10):
    print(x * 5)
    x = x + 1
print("We are out of the loop and the value of x is : ",x)

5
10
15
20
25
30
35
40
45
50
We are out of the loop and the value of x is :  11

In [150]:
# Array based loop

# Task : iterate between 1 and 20
# Step 1 : generate a range
#        using the range() function
range(1,21)
list(range(1,21))
tuple(range(1,21))

# Step 2: Loop now!
for i in range(1,21):
    print(5,"X",i,"=",5*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
5 X 20 = 100

In [152]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [153]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [158]:
tuple(range(1,21,2))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [159]:
t1

(10, 34, 56, 54, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81)

In [160]:
len(t1)

17

In [161]:
list(range(0,len(t1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
if(t1[0] < 20):
    print(t1[0])

In [162]:
# Task : get all the elemetns in t1 that are < 20
for index in range(0,len(t1)):
    if(t1[index] < 20):
        print(t1[index])

10
8
2
5

In [163]:
# Task : from t1, get all elements that are > 30 and < 80
for index in range(0,len(t1)):
    if t1[index] > 30 and t1[index] < 80:
        print(t1[index])

34
56
54
78
77
59

In [164]:
for element in t1:
    if element > 30 and element < 80:
        print(element)

34
56
54
78
77
59

In [165]:
# same for a list
for element in l1:
    if element > 30 and element < 80:
        print(element)

34
56
78
77
59

In [167]:
print(dir(t1))
# 'count', 'index'

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [166]:
print(dir(l1))

# 'append', 'insert'
# 'clear', 
# 'pop' 
#      by default, removes and prints the last element
#      we can also pass the index of the element that we want to remove

# 'remove' : we pass an input, the number that is supposed to be deleted,
#            remove() will remove the first occurance of that element

# 'copy'

# 'count' : frequency of the value 
# 'index' : the index of the first occurance of the value
# 'extend' : concatenate two lists
# 'reverse', 'sort'

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [168]:
x = 10
id(x)

1562930528

In [169]:
x = x + 100
id(x)

1562933728

In [184]:
score_hemanth = 400

In [185]:
score_kavya = score_hemanth

In [186]:
id(score_hemanth)

1858782610448

In [187]:
id(score_kavya)

1858782610448

In [188]:
score_hemanth = score_hemanth + 15
score_hemanth

415

In [189]:
score_kavya

400

In [190]:
l1

[10, 34, 56, 333, 78, 77, 24, 59, 8, 2, 5, 88, 20, 29, 100, 92, 81]

In [203]:
l2 = [2,3,4,7,5]

In [204]:
l2_backup = l2 # shallow copy

In [205]:
l2_backup

[2, 3, 4, 7, 5]

In [206]:
l2_deep = l2.copy()

In [207]:
l2.append(10)

In [208]:
l2

[2, 3, 4, 7, 5, 10]

In [209]:
l2_backup

[2, 3, 4, 7, 5, 10]

In [210]:
l2_deep

[2, 3, 4, 7, 5]

In [211]:
# Task : from l1, get all elements that are > 30 and < 80 and append it into
# a new list result.

result = []
for ele in l1:
    if ele > 30 and ele < 80:
        result.append(ele)
result

[34, 56, 78, 77, 59]

In [213]:
# Task : from t1, get all elements that are > 30 and < 80 and append it into
# a new tuple called result.

result = []
for ele in t1:
    if ele > 30 and ele < 80:
        result.append(ele)
result = tuple(result)
result

(34, 56, 54, 78, 77, 59)